h1,h2{
	text-align:center;

}
body{
	background: url('image1.jpg');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;

}
h1{
	padding-top: 150px;
	margin-top:200px;
}
h2{
	margin-top:50px;
	margin-bottom:100px;
}
p{
	text-align:center;
	padding-top:25px;
	margin-top:0px;
}
.gallery {
	background-color:white;
	background-size:100% 100%;
	padding:400px;
	padding-top:25px;
}

img {
	transition: all 0.6s;
}

img:hover {
	transform: translateY(-10px);
}